@import "sakura/sakura-ink";

#transactions {
  .transaction {
    background-color: $color-fade;
    display: flex;
    margin-bottom: 7px;
    padding: 7px;

    > div {
      color: $color-bg;
    }

    .transaction-category {
      flex: 40%;
    }

    .transaction-amount {
      flex: 40%;
    }

    .transaction-creator {
      flex: 20%;
    }
  }
}

#actions {
  bottom: 13px;
  position: fixed;
  right: 13px;
}

#new-transaction {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  form {
    align-content: center;
    align-items: center;
    background-color: $color-bg;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: 1;

    [type="number"] {
      font-size: 1.5em;
      margin: 13px;
      text-align: center;
      width: 100%;
    }

    [type="radio"] {
      display: none;
    }

    button {
      width: 100%;

      label {
        font-weight: normal;
        margin: 0;
      }
    }

    .new-transaction-type {
      flex: auto;
      margin: 0 13px;
    }

    .new-transaction-category {
      flex: 100%;
      margin: 5px 13px;
    }
  }
}
