#transactions {
  .transaction {
    display: flex;

    .transaction-category {
      flex: 30%;
    }

    .transaction-amount {
      flex: 50%;
    }

    .transaction-creator {
      flex: 20%;
    }
  }
}

#actions {
  bottom: 10px;
  position: fixed;
  right: 10px;
}

#new-transaction {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  #new-transaction-background {
    background-color: rgba(1, 1, 1, .5);
    height: 100%;
    position: fixed;
    width: 100%;
  }

  form {
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: 1;

    [type="number"] {
      font-size: 1.5em;
      height: 1.5em;
      margin: 10px;
      text-align: center;
      width: 100%;
    }

    [type="radio"] {
      display: none;
    }

    label {
      margin: 0;
    }

    .new-transaction-type {
      background-color: #efefef;
      border-radius: 6px;
      display: flex;
      flex: auto;
      margin: 0 10px;

      label {
        flex: auto;
        line-height: 3em;
        text-align: center;
      }
    }

    .new-transaction-category {
      background-color: #efefef;
      border-radius: 6px;
      flex: 100%;
      margin: 5px;
      text-align: center;
    }
  }
}
