@import "sakura/sakura-vader";

button {
  border-radius: 4px;
}

#transactions {
  .transactions-header {
    h5 {
      text-align: center;
    }
  }

  .transaction {
    background-color: $color-blossom;
    border-radius: 21px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 7px;

    > div {
      color: $color-bg;
    }

    .transaction-category {
      align-items: center;
      display: flex;
      flex: 1;
      padding: 0 7px 0 4px;

      [role="img"] {
        color: $color-bg;
        font-size: 16px;
        padding: 0 6px 0 2px;
      }
    }

    .transaction-amount {
      flex: 1;
      font-weight: bold;
    }

    .transaction-creator {
      background-color: $color-bg;
      border-radius: 100%;
      color: $color-fade;
      text-align: center;
      width: 1.55em;;
    }
  }
}

#actions {
  bottom: 13px;
  position: fixed;
  right: 13px;
}

#wizard {
  align-items: center;
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  #wizard-previous {
    width: 100%;

    [role="img"] {
      font-size: 2em;
      padding: 13px 13px 0;
    }
  }

  form {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: 1;

    .wizard-amount {
      margin: 13px;
      position: relative;
      width: 100%;

      [type="number"] {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
      }

      span {
        font-size: 1.5em;
        position: absolute;
        right: 13px;
        top: 2px;
      }
    }

    [type="radio"] {
      display: none;
    }

    button {
      width: 100%;

      label {
        font-weight: normal;
        margin: 0;
      }
    }

    .wizard-type {
      flex: auto;
      margin: 0 13px;
    }

    .wizard-category {
      flex: 100%;
      margin: 5px 13px;

      label {
        display: flex;
        justify-content: center;
      }

      [role="img"] {
        color: $color-bg;
        font-size: 16px;
        padding: 0 6px;
      }
    }
  }
}
